{%  load static %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'mainapp/css/main.css' %}">
{% block navbar %}


{% endblock %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'all_posts' %}">Camera</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'post_create' %}">Camera Create</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'calculator' %}">Calculator</a>
        </li>

       <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>

      </ul>

    </div>
  </div>
</nav>
<center>
<form class="d-flex" role="search", action="{% url 'search' %}", style="width: 600px;">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
</center>
<!--  <main>-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-md-6">-->
<!--          <h2>Пошук</h2>-->
<!--          <form>-->
<!--            <div class="input-group mb-3">-->
<!--              <input type="text" class="form-control" placeholder="Пошук" aria-label="Пошук" aria-describedby="basic-addon2">-->
<!--              <div class="input-group-append">-->
<!--                <button class="btn btn-outline-secondary" type="button">Пошук</button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </main>-->
<!--  <footer>-->
<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--      <ul class="navbar-nav ml-auto">-->
<!--        <li class="nav-item">-->
<!--          <button type="button" class="btn btn-danger" id="logoutBtn" style="display: none;">Вийти</button>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </nav>-->
<!--  </footer>-->







<center>
<div class="card" style="width: 600px;">

    {% for post in posts %}

  <div class="card-body" >
    <h5 class="card-title">{{post.Legal_Entity}}</h5>
      <p>{{ post.pub_date }}</p>
    <a href="{% url 'post_detail' Legal_Entity=post.Legal_Entity %}" class="btn btn-primary">Open</a>
  </div>
    {% endfor %}
</div>
</center>


<!--    <button><a href="/create/">Create Post</a></button>-->
<!--     <button><a href="/posts/calculator/">Calculator</a></button>-->


<!--    <ul>-->







