{%  load static %}
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'mainapp/css/main.css' %}">
{% block navbar %}

<!--<header>-->
<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--&lt;!&ndash;      <a class="navbar-brand" href="#">Моя сторінка</a>&ndash;&gt;-->
<!--      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
<!--      <div class="collapse navbar-collapse" id="navbarNav">-->
<!--        <ul class="navbar-nav">-->
<!--          <li class="nav-item active">-->
<!--            <a class="nav-link" href="/">Home </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="{% url 'all_posts' %}">Posts</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="{% url 'post_create' %}">Post Create</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="{% url 'calculator' %}">Calculator</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="{% url 'logout' %}">Logout</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--        <ul class="navbar-nav ml-auto">-->
<!--		</ul>-->
<!--      </div>-->
<!--    </nav>-->
<!--  </header>-->




<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'all_posts' %}">Camera</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'create_property' %}">Create property</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'post_create' %}">Create Camera</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'calculator' %}">Calculator</a>
        </li>

       <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}?next={% url 'login' %}">Logout</a>
        </li>

      </ul>

    </div>
  </div>
</nav>







{% endblock %}

<center>
<h1>Edit FWADMIN</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save changes</button>
  </form>
</center>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $("#id_Legal_Entity").change(function() {
      var Legal_Entity = $(this).val();
      $.ajax({
        url: "{% url 'property_list_ajax' %}",
        data: {'Legal_Entity': Legal_Entity},
        dataType: 'json',
        success: function(data) {
          $("#id_property").empty();
          $.each(data.properties, function(i, property) {
            $("#id_property").append($('<option>').val(property.id).text(property.property));
          });
        }
      });
    });
  });
</script>